---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageTopJump from "../components/PageTopJump.astro";
---

<BaseLayout title="Home">
  <div class="dummy"></div>
  <PageTopJump />
</BaseLayout>

<style lang="scss">
  .dummy {
    height: 1000vh;
  }
</style>
